* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 Helvetica, sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    height: 100vh;
}


main,
header,
footer {
    padding: 1em 2em;
}

main {
    flex: 1 1 auto;
}


footer {
    margin-top: auto;
    flex: 0 0 50px;
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: flex-start;
}

header {
    flex: 0 1 80px;
    border-bottom: 2px solid black;
}


p {
    margin-bottom: 1em;
}

h2 {
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-weight: normal;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 3.5em;
    font-weight: bold;
}

footer p {
    margin: 0;
}

header p {
    margin: 0;
}