* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}


.container {
    border: 2px solid black;
    display: flex;
    gap: 2em
}

article {
    padding: 2em;
}

.container main,
.container aside {
    display: flex;
    flex-direction: column;
}


.container aside>article {
    flex: 1 0 auto;
}




.container main {
    gap: 2em;
}


.container article {
    background-color: white;
}


.quote {
    display: flex;
    gap: 1em;
}

.quote .avatar {
    display: block;
    background-color: green;
    width: 8em;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1/1;
}

.quote .media {
    display: flex;
    flex-direction: column;
    gap: 2em;
}


aside>.quote {
    flex-direction: column;
    align-items: center;
}


blockquote {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

blockquote .author {
    font-style: italic;
    font-weight: bold;
}



@media (max-width:800px) {
    .container aside {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .container aside>article {
        flex: 1 1 auto;
    }

    .container {
        flex-wrap: wrap;
    }

    aside>.quote {
        flex-direction: row;
    }


}