.site-header {
    display: flex;
    flex: 0 0 100%;
    border-bottom: 2px solid black;
    margin-bottom: 2em;
}

.site-title a {
    font-size: 2.5em;
    text-decoration: none;
    color: rgba(32, 32, 231, 0.781);
}

.site-header {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

@media (min-width:800px) {
    .site-header {
        flex-direction: row;
        justify-content: space-between;
    }
}


@media (min-width:1000px) {
    .site-header {
        flex-direction: row;
        justify-content: space-between;
    }
}


.site-header nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}

.site-header nav ul li {
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    background-color: #ccc;
    font-weight: normal;
}

.site-header nav ul li a {
    text-decoration: none;
    padding: 0.5;
    color: black;
}