html {
    font: 12px/1.5 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #eee;
}

p {
    margin-bottom: 1.5em;
}

@media (min-width:800px) {
    html {
        font-size: 14px;
    }
}


@media (min-width:1000px) {
    html {
        font-size: 16px;
    }
}