@media (max-width:600px) {

    body {
        font-size: 12px;
    }

    .max-width-container {
        padding-left: 12px;
        padding-right: 12px;
    }

    .home-header {
        padding: 12px 0;
    }

    .home-header .navbar-link {
        display: none;
    }

    .home-navbar {
        position: static;
    }

    .home-container {
        padding-top: 0;
    }

    .Heading-2 {
        font-size: 21px;
        margin-top: 2em;
    }

    .section-heading-text {
        margin-bottom: 0;
    }

    .section-heading-section-heading {
        margin-bottom: 30px;
    }

    .section-container {
        padding-top: 0;
    }

    .home-cards-container {
        grid-gap: 10px;
    }

    .category-card-image {
        width: 190px;
        height: auto;
        aspect-ratio: 1/1;
    }

    .section-container {
        flex-direction: column;
    }

    .home-left4 {
        padding: 30px;
    }

    .home-content {
        flex-direction: column;
        margin: 0 0 20px 0;
    }

    .home-text29 {
        font-size: 22px;
    }

    .home-text30 {
        width: 100%;
        font-size: 12px;
    }

    .home-image6 {
        width: 100%;
    }

    .home-footer1 {
        flex-direction: column;
        padding: 30px 10px;
    }

    .home-container09 {
        order: 1000;
    }

    .home-links-container {
        flex-direction: column;
    }


}