html {
    font-family: Helvetica, sans-serif;
}

body {
    padding: 2em;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}


article {
    display: inline-block;
    max-width: 60em;
    padding: 1em;
}

aside {
    display: inline-block;
    vertical-align: top;
}


img {
    width: 100%;
    height: auto;
}